<!--footer-->
<div class="footer-content">
    <img src="assets/image/footer-img.jpg" width="100%" height="100%">
    <div class="container-fluid">

        <div class="footer-title">
            <h1>Liên hệ</h1>
            <img src="assets/image/logo.png" height="100" width="100" />
            <p>
                <i>Lorem Ipsum is simply dummy text of the printing and typesetting industry</i>
            </p>
            <form action="" method="post" class="email-input">
                <div class="row">
                    <div class="input-group col-6 offset-3">
                        <input type="text" class="form-control" placeholder="Nhập email của bạn" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <input class="btn btn-info" type="submit" id="button-addon2" value="Đăng ký" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">

            <div class="col-md-6 col-sm-6 col-12 footer-content">
                <h1 class="font-blonde-script content-header">Thông tin liên hệ</h1>
                <p>
                    <b>Địa chỉ:</b> 484 Lê Văn Việt, Tăng Nhơn Phú B, Q9
                </p>
                <p>
                    <b>Email:</b> giathinhpham98@gmail.com
                </p>
                <p>
                    <b>Hot line:</b> (084) 958 2130
                </p>
                <span class="social">
                                <a></a>
                            </span>
            </div>
            <div class="col-md-6 col-sm-6 col-12 send-contact footer-content">
                <h1 class="font-blonde-script content-header">Gửi liên hệ</h1>
                <form action="#" method="post">
                    <div class="form-row">
                        <div class="col-6">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <textarea class="form-control" rows="8"></textarea>
                    <input type="submit" value="Gửi" class="btn btn-light" />
                    <input type="button" value="Hủy" class="btn btn-light" />
                </form>
            </div>
        </div>
    </div>
</div>