<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card pl-2 pr-2" style="margin: 16px 0;">
    <div class="card-body">
        <h2>Thông tin chi tiết sản phẩm: </h2>
    </div>
    <div class="row">
        <div class="col-12" style="margin-left: 20px;" >
            <div class="row" >
                <div *ngFor="let productImg of productImgs; let i = index ">
                    <div style="padding: 20px;">
                        <img style="width: 200px;height: 200px; margin: 0;padding: 0;" 
                                  class="img-fluid mx-auto d-block" src="http://localhost:8080/api/productimage/{{productImg.name}}" alt="slide {{i}}">
                    </div>
                </div>
                
            </div>
            <!-- <div id="carouselExample" class="carouselPrograms carousel slide"  data-ride="carousel" data-interval="false">
                <div class="carousel-inner row w-100 mx-auto" role="listbox" >
                    <div class="carousel-item col-md-4  active" *ngFor="let productImg of productImgs; let i = index " >
                       <div class="panel panel-default">
                          <div class="panel-thumbnail" >
                            <a href="#" title="image 1" class="thumb">
                              <img style="height: 250px;width: 250px !important; margin: 0;padding: 0;" 
                              class="img-fluid mx-auto d-block" src="http://localhost:8080/api/productimage/{{productImg.name}}" alt="slide {{i}}">
                            </a>
                          </div>
                        </div>
                    </div>
                    
                    
                </div>
                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> -->

            
        

        </div>
        <div class="col-12">
            <table class="table table-striped">
                <tr>
                    <td style="width: 30%;">ID Sản phẩm:</td>
                    <td>{{product.id}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Tên Sản phẩm:</td>
                    <td>{{product.name}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Màu sắc:</td>
                    <td>{{product.color}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Giá:</td>
                    <td>{{product.price}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Giá giảm: </td>
                    <td>{{product.discountPrice}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;"> Chất liệu : </td>
                    <td>{{product.material}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Kích thước :</td>
                    <td>{{product.size}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Mô tả : </td>
                    <td>{{product.description}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Số lượng :</td>
                    <td>{{product.quantity}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Loại sản phẩm :</td>
                    <td>{{product.category.name}}</td>
                </tr>
                <tr>
                    <td style="width: 30%;">Nhà cung cấp :</td>
                    <td>{{product.supplier.name}}</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-4">
        <a routerLink="/admin/adproduct/edit/{{product.id}}" class="btn btn-primary btn-rounded" style="color: white;">Sửa
            sản phẩm</a> &nbsp; &nbsp;
        <a routerLink="/admin/adproduct" class="btn btn-success btn-rounded" style="margin-left: 16px;color: white;">Về
            trang quản lí</a>
    </div>
</div>