<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card" style="margin: 16px 0;">
    <div class="card-body">
        <h3 class="card-title">Thêm Khách hàng</h3>
        <form class="forms-sample">
            <div class="form-row">
                <div class="col-md-6 col-sm-12 form-group">
                    <label for="ten-phu-kien">Tên Khách hàng (bắt buộc)</label>
                    <input type="text" class="form-control" id="ten-khach-hang" placeholder="Tên khách hàng">
                    <small class="text-danger" id="validate-ten-khach-hang"></small>


                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label for="ten-phu-kien">Email (bắt buộc)</label>
                    <input type="text" class="form-control" id="email-khach-hang" placeholder="Email">
                    <small class="text-danger" id="validate-email-khach-hang"></small>


                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-sm-12 form-group">
                    <label for="ten-phu-kien">Số điện thoại</label>
                    <input type="text" class="form-control" id="sdt-khach-hang" placeholder="Số điện thoại">
                    <small class="text-danger" id="validate-so-dien-thoai"></small>


                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label for="xac-nhan-mat-khau">Phần Trăm Khuyến Mãi</label>
                    <input type="number" class="form-control" id="" placeholder="10%">

                </div>
            </div>
            <div class="form-group">
                <label for="">Địa chỉ</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Địa chỉ"></textarea>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label for="exampleFormControlFile1">Ảnh</label>
                    <div class="input-group input-file" name="Fichier1">
                        <span class="input-group-btn">
                    <button class="btn btn-primary btn-choose" type="button">Choose</button>
                </span>
                        <input type="text" class="form-control" placeholder='Chọn ảnh' />
                        <span class="input-group-btn">
                    <button class="btn btn-warning btn-reset" type="button">Reset</button>
                </span>
                    </div>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-rounded" style="color: white;"> Về Trang
                Quản Lý Khách Hàng</a>
            <input type="submit" class="btn btn-primary btn-rounded" style="margin-left: 5px;" id="btn-submit" value="Lưu" />
        </form>
    </div>
</div>