<app-header></app-header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-2 col-md-1" >
            <div class="img-product" *ngFor="let productImg of productImgs; let i = index">
                <img src="http://localhost:8080/api/productimage/{{productImg.name}}"  (click)="ImageClick(productImg.name)" style="cursor: pointer">
            </div>
            <!-- <div class="img-item">
                <img src="assets/image/product.jpg">
            </div>
            <div class="img-item">
                <img src="assets/image/product.jpg">
            </div>
            <div class="img-item">
                <img src="assets/image/product.jpg">
            </div> -->
        </div>

        <div class="col-10 col-md-5">
            <div class="product-image">
                <div class="row img-show">
                    <img src="http://localhost:8080/api/productimage/{{currentImg}}">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6" style="padding-left: 60px;padding-top: 20px;">
            <h3>{{product.name}}</h3>
            <h5>Giá  : {{product.price}} VNĐ</h5>
            <h5 style="color: red; font-weight: bold;">Giá giảm : {{product.discountPrice}} VNĐ</h5>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Chất liệu : {{product.material}}</h6>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Màu sắc : {{product.color}}</h6>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Kích thước : {{product.size}}</h6>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Mô tả  :</h6>
            <p>{{product.description}}</p>
            <div class="input-group mb-3" style="width:120px">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-subtract">-</button>
                </div>
                <input type="text" class="form-control number-product" placeholder="" aria-describedby="button-addon1" value="1">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" type="button" id="button-add" style="border-radius:0px 4px 4px 0px;">+</button>
                </div>
            </div>
            <button class="btn btn-success" id="them-vao-gio-hang">Thêm vào giỏ</button>

        </div>


    </div>
    <!-- <h2 style="color: red; text-align: center; margin: 50px;">Sản phẩm khác</h2>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <a href="#">
                <div class="product-img">
                    <img src="assets/image/product.jpg">
                </div>
                <div class="product-info">
                    <p>Bàn làm việc</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <a href="#">
                <div class="product-img">
                    <img src="assets/image/product.jpg">
                </div>
                <div class="product-info">
                    <p>Bàn làm việc</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <a href="#">
                <div class="product-img">
                    <img src="assets/image/product.jpg">
                </div>
                <div class="product-info">
                    <p>Bàn làm việc</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <a href="#">
                <div class="product-img">
                    <img src="assets/image/product.jpg">
                </div>
                <div class="product-info">
                    <p>Bàn làm việc</p>
                </div>
            </a>
        </div>
    </div> -->
</div>

<app-footer></app-footer>