<app-header></app-header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Trang chủ</a></li>
        <li class="breadcrumb-item"><a routerLink="/product">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-2 col-md-1" >
            <div class="img-product" *ngFor="let productImg of productImgs; let i = index">
                <img src="http://localhost:8080/api/productimage/{{productImg.name}}"  (click)="ImageClick(productImg.name)" style="cursor: pointer">
            </div>
            <!-- <div class="img-item">
                <img src="assets/image/product.jpg">
            </div>
            <div class="img-item">
                <img src="assets/image/product.jpg">
            </div>
            <div class="img-item">
                <img src="assets/image/product.jpg">
            </div> -->
        </div>

        <div class="col-10 col-md-5">
            <div class="product-image">
                <div class="row img-show">
                    <img src="http://localhost:8080/api/productimage/{{currentImg}}">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6" style="padding-left: 60px;padding-top: 20px;">
            <h3>{{product.name}}</h3>
            <h5>Giá  : {{product.price}} VNĐ</h5>
            <h5 style="color: red; font-weight: bold;">Giá giảm : {{product.discountPrice}} VNĐ</h5>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Chất liệu : {{product.material}}</h6>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Màu sắc : {{product.color}}</h6>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Kích thước : {{product.size}}</h6>
            <h6 style="font-weight: bold;margin-bottom: 10px;">Mô tả  :</h6>
            <p>{{product.description}}</p>
            <div class="input-group mb-3" style="width:120px">
                
                <input style="margin: auto;width: 30%;" type="number" min="1" placeholder="1" [(ngModel)]="quantity" 
                    class="form-control" (input)="onSearchChange($event.target.value)" >
                
            </div>
            <button (click)="addCart()" class="btn btn-success" id="them-vao-gio-hang">Thêm vào giỏ</button>

        </div>


    </div>
    
</div>

<app-footer></app-footer>