<app-header></app-header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
    </ol>
</nav>
<div class="info-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-12">
                <h2>FOUNDER</h2>
                <blockquote class="text-center">
                    <p>Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vesti ulum dui sagittis mlste sagittis elts. Exercitation photo booth that is end stumptown tote bag Banksy, elit small batch freegan sed craft a beer elit seitan exercitation,
                        photo booth et kale chips hillwave deep laborum mlste sagittis sunt culpa only oficia Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia deserunt mollit anim Ut Excepteur sit occaecat cupidatan is proident
                        end stumptown tote bag Banksy.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
            <div class="col-md-5 col-sm-5 col-12">
                <picture>
                    <img src="assets/image/home-slider1.jpg" height="300px" width="450px" class="rounded">
                </picture>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <picture>
                    <img src="assets/image/home-slider2.jpg" height="350px" width="500px" class="rounded">
                </picture>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <h2>OUR HISTORY</h2>
                <i>Excepteur sit occaecat cupidatan is proident, one sunt in culpa qui officia
                        deserunt mollit anim Ut minim veniam laboreua dolore magna aliqua.
                        Consequuntur magni dolores eos ratione voluptatem nesciunt natus error
                        voluptatem accusantium tempo doloremque Excepteur sit occaecat cupidatan is proident,
                        one sunt in culpa.</i>

                <i>Excepteur sit occaecat cupidatan is proident, one sunt in culpa
                        qui officia deserunt mollit anim Ut Excepteur sit occaecat cupidatan is proident,
                        one sunt in culpa qui minim veniam laboreua.</i>
                <i>Consequuntur magni dolores eos ratione voluptatem nesciunt natus error voluptatem
                        accusantium tempo doloremque. Excepteur sit occaecat cupidatan is proident.</i>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>