<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card" style="margin: 16px 0;">
    <div class="card-body">
        <h3 class="card-title">Thêm Nhà Cung Cấp</h3>
        <form [formGroup]="addForm" (ngSubmit)="onSubmitCreate(addForm)">
            <div class="form-row">
                <div class="col-md-6 col-sm-12 form-group">
                    <label for="ten-phu-kien">Tên Nhà Cung Cấp (bắt buộc)</label>
                    <input type="text" class="form-control"  name="name" required
                    [ngClass]="{'is-invalid':addForm.get('name').touched && addForm.get('name').invalid }"
                    formControlName="name" id="name" placeholder="Tên nhà cung cấp">
                    <small class="text-danger" id="validate-ten-ncc"></small>
                    <div *ngIf="addForm.get('name').touched && addForm.get('name').invalid"
                       class="invalid-feedback">
                       <div *ngIf="addForm.controls.name.errors.required">Tên không được để trống
                       </div>
                       <div *ngIf="addForm.controls.name.errors.pattern">Tên không hợp lệ</div>
                   </div>
                </div>
                
                <div class="col-md-6 col-sm-12 form-group">
                    <label for="ten-phu-kien">Email (bắt buộc)</label>
                    <input type="text" class="form-control" name="email" required placeholder="Email"
                        [ngClass]="{'is-invalid':addForm.get('email').touched && addForm.get('email').invalid}" formControlName="email"
                        id="email" placeholder="Email">
                    <small class="text-danger" id="validate-email-ncc"></small>
                    <div *ngIf="addForm.get('email').touched && addForm.get('email').invalid" class="invalid-feedback">
                        <div *ngIf="addForm.controls.email.errors.required">Email không được để trống
                        </div>
                        <div *ngIf="addForm.controls.email.errors.email">Email không hợp lệ</div>
                    </div>
                
                
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-sm-12 form-group">
                    <label for="ten-phu-kien">Số điện thoại</label>
                    <input type="text" class="form-control" name="phoneNumber" required
                        [ngClass]="{'is-invalid':addForm.get('phoneNumber').touched && addForm.get('phoneNumber').invalid }"
                        formControlName="phoneNumber" id="phoneNumber" placeholder="Số điện thoại">
                    <small class="text-danger" id="validate-so-dien-thoai"></small>
            
                    <div *ngIf="addForm.get('phoneNumber').touched && addForm.get('phoneNumber').invalid" class="invalid-feedback">
                        <div *ngIf="addForm.controls.phoneNumber.errors.required"> Nhập số điện
                            thoại</div>
                        <div *ngIf="addForm.controls.phoneNumber.errors.pattern || 
                                addForm.controls.phoneNumber.errors.minlength || 
                                addForm.controls.phoneNumber.errors.maxlength">Số điện thoại không hợp lệ</div>
            
                    </div>
            
                </div>
            
            </div>
            <div class="form-group">
                <label for="">Địa chỉ</label>
                <input type="text" class="form-control" name="address" required            
                formControlName="address" id="address" rows="3" placeholder="Địa chỉ">
                
            </div>
           
            <a routerLink="/admin/adsupplier" class="btn btn-primary btn-rounded" style="color: white;"> Về Trang
                Quản Lý Nhà Cung Cấp</a>
            <input type="submit" class="btn btn-success btn-rounded" style="margin-left: 5px;" [disabled]="!addForm.valid"  value="Lưu" />
        </form>
    </div>
</div>