<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <!-- <h3><a routerLink="/admin">Admin</a></h3> -->
        <h3><a>Admin</a></h3>
        <strong>AD</strong>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a class="nav-link" routerLink="/admin/adproduct" class="nav-link" routerLinkActive="active" >Sản phẩm</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/admin/addetail" class="nav-link">Phụ kiện</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/admin/adcustomer" class="nav-link" >Khách hàng</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/admin/adsupplier" class="nav-link" >Nhà cung cấp</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/admin/adworker" class="nav-link" >Nhân viên</a>
        </li>
        <!-- <li>
                <a href="#">Contact</a>
            </li> -->
    </ul>
</nav>