<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Thông tin nhân viên: Phạm Gia Thịnh</h3>
        <p class="card-description">
            Thông tin chi tiết
        </p>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-3" style="text-align: right; padding-right: 16px;">
                <img src="http://localhost:8080/employeeimg/{{employeeUser.imageUrl}}" style="border-radius: 50%;" width="250px" height="250px" />
            </div>
            <div class="col-9">
                <table class="table">
                    <tr>
                        <td>Họ tên:</td>
                        <td>{{employeeUser.name}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{employeeUser.email}}</td>
                    </tr>
                    <tr>
                        <td>Điện thoại:</td>
                        <td>{{employeeUser.phonenumber}}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>{{employeeUser.address}}</td>
                    </tr>

                    <tr>
                        <td>Mật khẩu:</td>
                        <td>{{employeeUser.password}}</td>
                    </tr>

                    <tr>
                        <td>Trạng thái:</td>
                        <div *ngIf="instatus==1;else show"><td>Hoạt động</td></div>                       
                        <ng-template #show><td>Đã khóa</td></ng-template>
                    </tr>

                    <tr>
                        <td>Tạo ngày:</td>
                        <td>{{employeeUser.createdDate}}</td>
                    </tr>

                    <tr>
                        <td>Cập nhật ngày:</td>
                        <td>{{employeeUser.updatedDate}}</td>
                    </tr>

                    <tr>
                        <td>Chức vụ:</td>
                        <td>{{employee.position}}</td>
                    </tr>
                    <tr>
                        <td>Lương:</td>
                        <td>{{employee.salary}}</td>
                    </tr>
                    <tr>
                        <td>Tiền thưởng:</td>
                        <td>{{employee.bonus}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <a routerLink="/admin/adworker/edit/{{employeeUser.id}}" class="btn btn-primary btn-rounded">Sửa thông tin nhân viên</a>
            <a routerLink="/admin/adworker" class="btn btn-success btn-rounded" style="margin-left: 16px;color: white;">Về trang quản lí nhân viên</a>
        </div>
    </div>
</div>