<app-header></app-header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-12">
            <h3>Danh mục</h3>
            <div class="list-group" >
                <div *ngFor="let categoryType of categoryTypes" >
                    <div class="dropdown-container">
                            <a href=""  class="list-group-item list-group-item-action" (click)="getById(categoryType.id)">{{categoryType.name}}
                                    <!-- <div class="dropdown-menu" *ngFor="let category of categories | async">
                                                
                                            <a class="dropdown-item" href="">{{category.name}}</a>
                                        
                                    </div>  -->
                                </a>
                    </div>
                        
                </div>
                
            </div>
            <h3 class="line">Giá</h3>
            <div class="note-price">
                <p>Chọn khoảng giá</p>
            </div>
            <div class="price-value">
                <input type="text">
                <span>-</span>
                <input type="text">
            </div>
            <button type="button" class="btn btn-outline-primary">OK</button>
            <div class="line"></div>
        </div>
        <div class="col-md-9 col-12">
            <h3>Sản phẩm</h3>
            <div class="alert alert-secondary" role="alert">
                <div class="row">
                    <div class="col-6">
                        <select class="form-control">
                        <option value="volvo">---</option>
                        <option value="saab">Giá thấp</option>
                        <option value="opel">Giá cao</option>
                        <option value="audi">Tên</option>
                        </select>
                    </div>
                    <div class="col-4 seach-product">
                        <input class="form-control" type="text" placeholder="Tìm kiếm" aria-label="Search">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-dark my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <a routerLink="product-info">
                        <div class="product-img">
                            <img src="assets/image/product.jpg">
                        </div>
                        <div class="product-info">
                            <div class="row">
                                <div class="col-6 product-name">
                                    <p>Bàn làm việc</p>
                                </div>
                                <div class="col-6 product-price">
                                    <strong>150.000đ</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trang trước</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item " aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Trang sau</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<app-footer></app-footer>