<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Quản Lý Nhà Cung Cấp</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a routerLink="add-adsupplier" class="btn btn-primary btn-rounded">Thêm Nhà Cung Cấp</a>
            </div>
            <div  class="col-sm-12 col-md-6">
                <mat-form-field>
                    <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Tìm kiếm">
                </mat-form-field>
        
            </div>
            <!-- <div class="col-sm-12 col-md-6">
                <input type="search" class="form-control search" placeholder="Search" aria-controls="order-listing">
            </div> -->
        </div>
        <!-- <table class="table table-hover results" style="margin: 16px 0;">
            <thead>
                <tr>
                    <th>Tên</th>

                    <th>Email</th>
                    <th>Sđt</th>
                    <th>Địa chỉ</th>
                    <th>Giảm giá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adsupplier">Xem</a> |
                        <a routerLink="edit-adsupplier">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                
            </tbody>
        </table> -->


        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên nhà cung cấp </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa chỉ </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SĐT </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>


    </div>
</div>