<app-header></app-header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
    </ol>
</nav>
<div class="container">

    <table class="table product-list">
        <thead class="font-size-h5">
            <tr>
                <th scope="col">Sản phẩm</th>
                <th style="text-align: right;" scope="col">Đơn giá</th>
                <th style="text-align: center;" scope="col">Số lượng</th>
                <th style="text-align: right;" scope="col">Tổng tiền</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let cart of carts">
            <tr>
                <th scope="row">{{cart.productname}}</th>
                <td style="text-align: right;">{{cart.price}}</td>
                <td >
                    <input style="margin: auto;width: 30%;" type="number" min="1"  [(ngModel)]="cart.quantity" 
                    class="form-control" (input)="onSearchChange($event.target.value,cart.id)" >
                </td>
                <td style="text-align: right;">{{cart.totalprice}}</td>
                <td>
                    <button (click)="delete(cart.id)" class="btn btn-success " type="submit">X</button>
                </td>
            </tr>
            
        </tbody>
    </table>

    
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
                <h2 class="pt-5 ml-5">Thông tin khách hàng</h2>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Name: </strong></td>
                        <td>{{currentUser.name}}</td>
                    </tr>
                    <tr>
                        <td><strong>SĐT</strong></td>
                        <td>{{currentUser.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td><strong>Địa chỉ: </strong></td>
                        <td>{{currentUser.address}}</td>
                    </tr>
                </table>
                <button (click)="edit(currentUser.id)" routerLink="/profile" class="btn btn-success" id="btnUpdate" type="submit">Cập nhật thông tin</button>
            </div>
            
            <div class="col-6 ">
                <h2 class="pt-5 ml-5">Tổng tiền</h2>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Subtotal:</strong></td>
                        <td>{{subtotal}}</td>
                    </tr>
                    <tr>
                        <td><strong>Total:</strong></td>
                        <td>{{total}}</td>
                    </tr>
                </table>
                <button class="btn btn-success" id="pay" type="submit">Thanh toán</button>
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>