<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Quản Lý Khách Hàng</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a routerLink="add-adcustomer" class="btn btn-primary btn-rounded">Thêm Khách Hàng</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <input type="search" class="form-control search" placeholder="Search" aria-controls="order-listing">
            </div>
        </div>
        <table class="table table-hover results" style="margin: 16px 0;">
            <thead>
                <tr>
                    <th>Tên</th>

                    <th>Email</th>
                    <th>Sđt</th>
                    <th>Địa chỉ</th>
                    <th>Giảm giá</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>Phạm Gia Thịnh</td>

                    <td>giathinhpham98@gmail.com</td>
                    <td>0355561188</td>
                    <td>484 Lê Văn Việt, Tăng Nhơn Phú A, Thủ Đức, TpHCM</td>
                    <td>10%</td>
                    <td>
                        <a routerLink="see-adcustomer">Xem</a> |
                        <a routerLink="edit-adcustomer">Sửa</a> |
                        <a href="#">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>