<div class="wrapper">

    <nav class="navbar top-nav">
        <a class="navbar-brand" href="#">Webnoithat Admin</a>
        <!-- <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/image/product.jpg" width="30px" height="30px"> Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="sidebar">
                    <ul>
                        <!-- <li class="title"><a href="#"><i class="fab fa-angular"></i><span id="title">Admin</span></a></li> -->
                        <li class="title">
                            <a href="#"><img src="assets/image/product.png"><span>Sản phẩm</span></a>
                        </li>
                        <li class="title">
                            <a href="#"><img src="assets/image/accessory.png"><span>Chi tiết sản phẩm</span></a>
                        </li>
                        <li class="title">
                            <a href="#"><img src="assets/image/customer.png"><span>Khách hàng</span></a>
                        </li>
                        <li class="title">
                            <a href="#"><img src="assets/image/supplier.png"><span>Nhà cung cấp</span></a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-9 col-sm-9 col-9">
                <div class="main-content">
                    <button type="button" class="btn btn-primary"><img src="assets/image/add-file.png">Thêm</button>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>
                                    <button type="button" class="btn btn-success"><img src="assets/image/edit.png"></button>
                                    <button type="button" class="btn btn-danger"><img src="assets/image/delete.png"></button>

                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>
                                    <button type="button" class="btn btn-success"><img src="assets/image/edit.png"></button>
                                    <button type="button" class="btn btn-danger"><img src="assets/image/delete.png"></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>
                                    <button type="button" class="btn btn-success"><img src="assets/image/edit.png"></button>
                                    <button type="button" class="btn btn-danger"><img src="assets/image/delete.png"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>