<app-adsidebar></app-adsidebar>
<app-adnavbar></app-adnavbar>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Thông tin khách hàng: Phạm Gia Thịnh</h3>
        <p class="card-description">
            Thông tin chi tiết
        </p>
        <div class="row" style="margin-bottom: 16px;">
            <div class="col-3" style="text-align: right; padding-right: 16px;">
                <img src="assets/image/product.jpg" style="border-radius: 50%;" width="250px" height="250px" />
            </div>
            <div class="col-9">
                <table class="table">
                    <tr>
                        <td>Họ tên:</td>
                        <td>Phạm Gia Thịnh</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>giathinhpham98@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Điện thoại:</td>
                        <td>0355561188</td>
                    </tr>
                    <tr>
                        <td>Giảm giá</td>
                        <td>100%</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>484 Lê Văn Việt, phường Tăng Nhơn Phú A, Quận 9, TpHCM</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="#" class="btn btn-primary btn-rounded">Sửa thông tin khách hàng</a>
            <a href="#" class="btn btn-success btn-rounded" style="margin-left: 16px;color: white;">Về trang quản lí khách hàng</a>
        </div>
    </div>
</div>