<!-- Page Content Holder -->
<div id="content">

    <nav class="navbar navbar-light" style="margin-left: -5px;">
        <!-- <div class="container-fluid"> -->
        <div class="navbar-header" style="padding: 10px;">
            <a style="color: antiquewhite;font-size: 28px;text-decoration: none;font-weight: bold;" routerLink="/"><img style="width: 50px; height: 50px;" src="assets/image/logo.png">Webnoithat</a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    <img src="../../../assets/image/menu.png" width="24px" height="24px">
                      Tài khoản
                    </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Đổi mật khẩu</button>
                <button class="dropdown-item" type="button">Thoát</button>
            </div>
        </div>

    </nav>

</div>