<!-- Page Content Holder -->
<div id="content">

    <nav class="navbar navbar-light">
        <!-- <div class="container-fluid"> -->
        <div class="navbar-header">
            <!-- <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <img src="../../../assets/image/menu.png" ><i id="buttonClick"></i>
                    </button> -->
        </div>
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                    <img src="../../../assets/image/menu.png" width="24px" height="24px">
                      Tài khoản
                    </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Đổi mật khẩu</button>
                <button class="dropdown-item" type="button">Thoát</button>
            </div>
        </div>

    </nav>

</div>